[Definition]

# Option:  actionstart
# Notes.:  command executed once at the start of Fail2Ban.
# Values:  CMD
#
actionstart = iptables -N fail2ban-<name>
              iptables -A fail2ban-<name> -j RETURN
              iptables -I <chain> {{ fail2ban_rule_startindex  if fail2ban_rule_startindex > 1 else 1 }} -p <protocol> -j fail2ban-<name>

