# {{ ansible_managed | comment }}

[DEFAULT]
bantime   = {{ fail2ban_config_bantime }}
destemail = {{ fail2ban_config_destemail | list | join(",") | default('root')}}
banaction = {{ fail2ban_config_banaction }}
action    = {{ fail2ban_config_jailaction }}
maxretry  = {{ fail2ban_config_maxretry }}
findtime  = {{ fail2ban_config_findtime }}
{% if fail2ban_config_backend %}
backend   = {{ fail2ban_config_backend }}
{% endif %}
logtarget = {{ fail2ban_logtarget }}
ignoreip = {{ fail2ban_config_ignoreip | join(" ") }}


# JAILS
{% for jail in fail2ban_jails if jail.enabled %}
[{{ jail.name }}]
{% if jail.note is defined %}
# {{ jail.note }}
{% endif %}
enabled   = {{ jail.enabled }}
{% if jail.filter is defined %}
filter    = {{ jail.filter }}
{% endif %}
{% if jail.ports is defined %}
port      = {{ jail.ports | join(",") }}
{% endif %}
{% if jail.banaction is defined %}
banaction = {{ jail.banaction }}
{% endif %}
{% if jail.action is defined %}
action    = {{ jail.action }}
{% if fail2ban_badips_action and jail.name in firewall_badips_jails %}
             badips[category="{{jail.badip_category}}", key="{{ badips_key}}"]
{% endif %}
{% endif %}
{% if jail.logpath is defined %}
logpath   = {{ jail.logpath }}
{% endif %}
{% if jail.journalmatch is defined %}
journalmatch = {{ jail.journalmatch }}
{% endif %}
{% if jail.maxretry is defined %}
maxretry  = {{ jail.maxretry }}
{% endif %}
{% if jail.destemails is defined %}
destemail = {{ jail.destemails | join(",") }}
{% endif %}
{% if jail.bantime is defined %}
bantime   = {{ jail.bantime }}
{% endif %}
{% if jail.findtime is defined %}
findtime   = {{ jail.findtime }}
{% endif %}

{% endfor %}
